# Data Preprocessing

In [2]:
# Importing the necessary librarires

import glob
import pandas as pd

In [3]:
# Combining all the excel files of different countries and adding it to excel_list

path = r"C:\GUVI\Placemnet Sepecial Class\Project2\Sports Analysis" 
file_list = glob.glob(path + r"/*.xlsx")
excl_list = []
for file in file_list:
    excl_list.append(pd.read_excel(file))

In [4]:
#concatenating all the excel files to a single data frame

df = pd.concat(excl_list, ignore_index=True)

In [5]:
df

,PlayerName,PersonDetail,Links,Country,Stats,TopStats
0,Abdul Hadi,"{'Full Name': 'Abdul Hadi', 'Born': 'March 22,...",https://www.espncricinfo.com/cricketers/abdul-...,Afghanistan,-,NaN
1,Abdul Malik,"{'Full Name': 'Abdul Malik', 'Born': 'March 11...",https://www.espncricinfo.com/cricketers/abdul-...,Afghanistan,-,NaN
2,Abdul Rashid Khan Naseri,"{'Full Name': 'Abdul Rashid Khan Naseri', 'Bor...",https://www.espncricinfo.com/cricketers/abdul-...,Afghanistan,-,NaN
3,Abdul Rahman Rahmani,"{'Full Name': 'Abdul Rahman Rahmani', 'Born': ...",https://www.espncricinfo.com/cricketers/abdul-...,Afghanistan,-,NaN
4,Abdul Wasi Noori,"{'Full Name': 'Abdul Wasi Noori', 'Born': 'Jul...",https://www.espncricinfo.com/cricketers/abdul-...,Afghanistan,-,NaN
...,...,...,...,...,...,...
3977,Mazvita Zambuko,"{'Full Name': 'Mazvita Zambuko', 'Born': 'Marc...",https://www.espncricinfo.com/cricketers/mazvit...,Zimbabwe,{'Career Averages': {'Unnamed: 0': {0: 'overvi...,{}
3978,Cephas Zhuwao,"{'Full Name': 'Cephas Zhuwao', 'Born': 'Decemb...",https://www.espncricinfo.com/cricketers/cephas...,Zimbabwe,{'Career Averages': {'Unnamed: 0': {0: 'overvi...,"{'Batting & Fielding': {'Format': {0: 'ODIs', ..."
3979,Peacemore Zimwa,"{'Full Name': 'Peacemore Zimwa', 'Born': 'Apri...",https://www.espncricinfo.com/cricketers/peacem...,Zimbabwe,{'Career Averages': {'Unnamed: 0': {0: 'overvi...,{}
3980,Daniel Takudzwa Zvidzai,"{'Full Name': 'Daniel Takudzwa Zvidzai', 'Born...",https://www.espncricinfo.com/cricketers/daniel...,Zimbabwe,{},"{'Batting & Fielding': {'Format': {0: 'FC', 1:..."
3981,Ngenyasha Zvinoera,"{'Full Name': 'Ngenyasha Zvinoera', 'Born': 'J...",https://www.espncricinfo.com/cricketers/ngenya...,Zimbabwe,{},{}

## Extracting info from Personal Details column

In [6]:
# Creating a separate dataframe with Personal details column

df1 = df['PersonDetail']
import ast
dict_list = []
for i in df1:
    res = ast.literal_eval(i)
    dict_list.append(res)

##### Creating a DataFrame of Personal details of players

In [7]:
columns = {'Name':[],'Born':[],'Age':[],'Batting Style':[],'Bowling Style':[],'Playing Role':[],'Teams_playing':[]}

for dic in dict_list:
    columns['Name'].append(dic['Full Name'])
    columns['Born'].append(dic['Born'])
    columns['Age'].append(dic['Age'])
    columns['Batting Style'].append(dic.get('Batting Style'))
    columns['Bowling Style'].append(dic.get('Bowling Style'))
    columns['Playing Role'].append(dic.get('Playing Role'))
    columns['Teams_playing'].append(len(dic['Teams'][0]))
    
person_details = pd.DataFrame(columns)
person_details['Country'] = df['Country']
person_details

,Name,Born,Age,Batting Style,Bowling Style,Playing Role,Teams_playing,Country
0,Abdul Hadi,"March 22, 2005, Kunduz",18y 313d,Left hand Bat,None,None,2,Afghanistan
1,Abdul Malik,"March 11, 1998, Baghlan",25y 324d,Right hand Bat,Right arm Offbreak,Opening Batter,2,Afghanistan
2,Abdul Rashid Khan Naseri,"September 09, 1994, Laghman",29y 142d,Left hand Bat,Slow Left arm Orthodox,None,1,Afghanistan
3,Abdul Rahman Rahmani,"November 22, 2001",22y 68d,Right hand Bat,Right arm Fast medium,Bowler,4,Afghanistan
4,Abdul Wasi Noori,"July 06, 2002, Baghlan",21y 207d,Right hand Bat,Legbreak,Allrounder,6,Afghanistan
...,...,...,...,...,...,...,...,...
3977,Mazvita Zambuko,"March 31, 1991",32y 320d,Right hand Bat,Right arm Medium,None,1,Zimbabwe
3978,Cephas Zhuwao,"December 15, 1984, Harare",39y 61d,Left hand Bat,Slow Left arm Orthodox,Batter,5,Zimbabwe
3979,Peacemore Zimwa,"April 28, 1993, Mutoko",30y 292d,Right hand Bat,Legbreak,None,1,Zimbabwe
3980,Daniel Takudzwa Zvidzai,"January 03, 1999, Marondera",25y 42d,Right hand Bat,None,None,1,Zimbabwe
3981,Ngenyasha Zvinoera,"January 11, 2003, Kwekwe",21y 34d,Left hand Bat,Left arm Medium,None,1,Zimbabwe

## Extracting info from Stats column

In [8]:
# replacing all the '-' in stats column with '{}'
df['Stats'] = df['Stats'].replace('-','{}')

In [9]:
# Creating a new dataframe with stats column

df2 = df['Stats']
dict_list1 = []
for i in df2:
    try:
        res = ast.literal_eval(i)
        dict_list1.append(res)
    except:
        pass

##### Creating a stats dataframe

#### 1. For Career Averages

In [10]:
# Creating a Career averages dataframe from stats column
col = []

for i in dict_list1:
    col.append(i.get('Career Averages'))

In [11]:
columns ={'Mat': [],'Span':[],'Runs': [],'HS': [],'Bat Avg': [],'100s': [],'Wkts': [],'BBI': [],'Bowl Avg': [],'5w': [],'Catches': [],'Stumping': [],'Avg Diff': []}
for i in col:
    if i != None:
        columns['Mat'].append(i['Mat'][0])
        columns['Span'].append(i.get(['Span'][0]))
        columns['Runs'].append(i.get(['Runs'][0]))
        columns['HS'].append(i.get(['HS'][0]))
        columns['Bat Avg'].append(i.get(['Bat Avg'][0]))
        columns['100s'].append(i.get(['100s'][0]))
        columns['Wkts'].append(i.get(['Wkts'][0]))
        columns['BBI'].append(i.get(['BBI'][0]))
        columns['Bowl Avg'].append(i.get(['Bowl Avg'][0]))
        columns['5w'].append(i.get(['5w'][0]))
        columns['Catches'].append(i.get(['Ct'][0]))
        columns['Stumping'].append(i.get(['St'][0]))
        columns['Avg Diff'].append(i.get(['Avg Diff'][0]))
    else:
        columns['Mat'].append(None)
        columns['Span'].append(None)
        columns['Runs'].append(None)
        columns['HS'].append(None)
        columns['Bat Avg'].append(None)
        columns['100s'].append(None)
        columns['Wkts'].append(None)
        columns['BBI'].append(None)
        columns['Bowl Avg'].append(None)
        columns['5w'].append(None)
        columns['Catches'].append(None)
        columns['Stumping'].append(None)
        columns['Avg Diff'].append(None)
        
career_avg = pd.DataFrame(columns)

In [12]:
career_avg.tail()

,Mat,Span,Runs,HS,Bat Avg,100s,Wkts,BBI,Bowl Avg,5w,Catches,Stumping,Avg Diff
3977,2.0,{0: '2009-2009'},{0: 70},{0: 36},{0: 35.0},{0: 0},{0: 2},{0: '2/42'},{0: 25.0},{0: 0},{0: 1},{0: 0},{0: 10}
3978,7.0,{0: '2008-2018'},{0: 48},{0: 24},{0: 6.85},{0: 0},{0: 1},{0: '1/1'},{0: 1.0},{0: 0},{0: 2},{0: 0},{0: 5.85}
3979,1.0,{0: '2011-2011'},{0: 0},{0: 0},{0: 0.0},{0: 0},{0: 0},{0: '-'},None,{0: 0},{0: 1},{0: 0},None
3980,NaN,None,None,None,None,None,None,None,None,None,None,None,None
3981,NaN,None,None,None,None,None,None,None,None,None,None,None,None

##### Formatting the career_avg columns

In [13]:
# Extracting the values from the data in dictionary format

def form(x):
    if x == None:
        res = None
    else:
        res = x[0]
    return res

In [14]:
# Including all the columns except the Mat (matches) column

format_col = list(career_avg.columns)
format_col.remove('Mat')
for col in format_col:
    career_avg[col] = career_avg[col].apply(form)

#### 2. Match Result

In [15]:
# Creating a new dataframe for match result
col2 = []

for i in dict_list1:
    col2.append(i.get('Match Result'))

In [16]:
columns = {'Matches_won':[],'Matches_lost':[]}
for i in col2:
    if i == None:
        columns['Matches_won'].append(None)
        columns['Matches_lost'].append(None)
    
    if i!= None and len(i.get('Unnamed: 0'))==1:
        if i['Unnamed: 0'][0] == 'won match':
            columns['Matches_won'].append(i['Mat'][0])
            columns['Matches_lost'].append(None)
        elif i['Unnamed: 0'][0] == 'lost match':
            columns['Matches_lost'].append(i['Mat'][0])
            columns['Matches_won'].append(None)
        else:
            columns['Matches_lost'].append(None)
            columns['Matches_won'].append(None)
    if i!=None and len(i.get('Unnamed: 0'))>1 :
        if i['Unnamed: 0'][0] == 'won match':
            columns['Matches_won'].append(i['Mat'][0])
        else:
            columns['Matches_won'].append(None)
        if i['Unnamed: 0'][0] == 'lost match':
             columns['Matches_lost'].append(i['Mat'][0])
        elif i['Unnamed: 0'][1] == 'lost match':
            columns['Matches_lost'].append(i['Mat'][1])
        else:
            columns['Matches_lost'].append(None)  
won_lost =pd.DataFrame(columns)

## Concatenating both Dataframes

In [17]:
#Concatenating all the 3 created dataframes

data = pd.concat([person_details,career_avg,won_lost],axis=1)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3982 entries, 0 to 3981
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           3982 non-null   object
 1   Born           3982 non-null   object
 2   Age            3982 non-null   object
 3   Batting Style  3955 non-null   object
 4   Bowling Style  3354 non-null   object
 5   Playing Role   2260 non-null   object
 6   Teams_playing  3982 non-null   int64
 7   Country        3982 non-null   object
 8   Mat            1546 non-null   float64
 9   Span           1540 non-null   object
 10  Runs           1388 non-null   float64
 11  HS             1387 non-null   object
 12  Bat Avg        1265 non-null   float64
 13  100s           1387 non-null   float64
 14  Wkts           1071 non-null   float64
 15  BBI            1071 non-null   object
 16  Bowl Avg       920 non-null    float64
 17  5w             1071 non-null   float64
 18  Catches        1536 non-null   float64
 19  Stumping       1536 non-null   float64
 20  Avg Diff       747 non-null    float64
 21  Matches_won    1357 non-null   float64
 22  Matches_lost   1369 non-null   float64
dtypes: float64(12), int64(1), object(10)
memory usage: 715.6+ KB

## Calculating % of Null values in each column

In [19]:
(data.isnull().sum()/len(data))*100

Name              0.000000
Born              0.000000
Age               0.000000
Batting Style     0.678051
Bowling Style    15.770969
Playing Role     43.244601
Teams_playing     0.000000
Country           0.000000
Mat              61.175289
Span             61.325967
Runs             65.143144
HS               65.168257
Bat Avg          68.232044
100s             65.168257
Wkts             73.103968
BBI              73.103968
Bowl Avg         76.896032
5w               73.103968
Catches          61.426419
Stumping         61.426419
Avg Diff         81.240583
Matches_won      65.921647
Matches_lost     65.620291
dtype: float64

In [20]:
# checking for duplicates in the data
data.duplicated().sum()

1

In [21]:
data.describe()

,Teams_playing,Mat,Runs,Bat Avg,100s,Wkts,Bowl Avg,5w,Catches,Stumping,Avg Diff,Matches_won,Matches_lost
count,3982.00000,1546.000000,1388.000000,1265.000000,1387.000000,1071.000000,920.000000,1071.000000,1536.000000,1536.000000,747.000000,1357.000000,1369.000000
mean,5.08011,24.783312,320.426513,14.970332,0.070656,17.999066,27.863707,0.069094,8.048177,0.660807,-14.251553,14.408990,12.581446
std,4.99971,30.402227,607.344549,10.954405,0.367390,25.684335,15.658650,0.304003,12.320699,3.886524,17.861020,17.337446,14.106611
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-164.610000,1.000000,1.000000
25%,2.00000,3.000000,12.000000,7.000000,0.000000,2.000000,19.302500,0.000000,0.000000,0.000000,-20.285000,2.000000,2.000000
50%,3.00000,11.000000,57.500000,13.000000,0.000000,7.000000,24.000000,0.000000,3.000000,0.000000,-13.200000,7.000000,7.000000
75%,7.00000,36.750000,297.750000,21.180000,0.000000,25.000000,32.000000,0.000000,11.000000,0.000000,-5.515000,20.000000,19.000000
max,51.00000,161.000000,4118.000000,110.500000,5.000000,157.000000,178.000000,3.000000,81.000000,59.000000,93.160000,111.000000,82.000000

In [ ]:
scvcvfdcV f

In [22]:
# Dropping the Nullvalues and duplicates 
data.drop_duplicates(inplace=True)
data.dropna(axis=0,inplace=True)

#### 1. Formatting age column

In [23]:
# Converting the format from '18y 313d' to '18
def format_age(x): 
    age = int(x.split('y')[0])
    return age
data['Age'] = data['Age'].apply(format_age)

#### 2. Formatting Born column

In [24]:
# Converting the format from 'March 22, 2005, Kunduz' to '2005-03-22'

from datetime import datetime

def format_Born(x):
    f = x.replace(',','').split()[0:3]
    res = " ".join(f)
    date = datetime.strptime(res, "%B %d %Y")
    return date
data['Born'] = data['Born'].apply(format_Born)

#### 3. Formatting HS column

In [25]:
# The High scorew column has Runs with '*' symbol which means not out. Hence creating a new column call out/not_nout 

def out(x):
    if '*' in str(x):
        return 'Not Out'
    else:
        return 'Out'
data['HS(out/not_out)'] = data['HS'].apply(out)

In [26]:
# Converting trhe format from '23*' to '23'

def format_hs(x):
    if "*" in str(x):
       x =  str(x).split('*')[0]
    return x
data['HS'] = data['HS'].apply(format_hs)

#### 4. Creating new columns with BBI

In [27]:
# creating new wikts and runs columns from BBI columns in the format '3/15'
# Column 1

def bbi(x):
    x = x.split('/')[0]
    return int(x)
data['BBI_wickets'] = data['BBI'].apply(bbi)

# Column 2

def bbi2(x):
    x = x.split('/')[1]
    return int(x)
data['BBI_runs'] = data['BBI'].apply(bbi2)

In [28]:
#dropping the BBI column

data.drop(['BBI'],axis=1,inplace=True)

#### 5. Correcting the datatypes

In [29]:
data.dtypes

Name                       object
Born               datetime64[ns]
Age                         int64
Batting Style              object
Bowling Style              object
Playing Role               object
Teams_playing               int64
Country                    object
Mat                       float64
Span                       object
Runs                      float64
HS                         object
Bat Avg                   float64
100s                      float64
Wkts                      float64
Bowl Avg                  float64
5w                        float64
Catches                   float64
Stumping                  float64
Avg Diff                  float64
Matches_won               float64
Matches_lost              float64
HS(out/not_out)            object
BBI_wickets                 int64
BBI_runs                    int64
dtype: object

In [30]:
# The below columns are in float datatype. Hence converting them to int type

float_cols = ['Mat','Runs','HS','100s','Wkts','5w','Catches','Stumping','Matches_won','Matches_lost']
for col in float_cols:
    data[col] =data[col].astype(int)

#### 6. Career Span in years

In [31]:
# Creating a new column 'Career span in years and calculating it from Span column. '2007-2024' -> '17'
def span(x):
    res = x.split('-')
    dif = int(res[1])-int(res[0])
    return dif
data['career_span_yrs'] = data['Span'].apply(span)

In [32]:
# Saving the file in csv format for further analysis
data.to_csv('cricket.csv')